/** Query Client. For "content" pages only. */


div.hero-unit {
	background: url(http://www.filestoa.com/img/background/anseongpasture_ISC9247_1280.png) no-repeat top left fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

